body
{
	background-color: #0283AD;
}
.jumbotron
{
	background-image: url('../jumbotron-background.jpg');	
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	width: 100% 100%;
	padding-bottom: 0px;
	height: 700px;
}

.white
{
	color: white;
}
.name
{
	padding-top: 60px;
}

.info
{
	background-color: #005479;
}

h4 a
{
	color: white;
	text-decoration: underline;
}
h4 a:hover { 
    color: white;
}
h4 a:visited
{
	color: white;
}
.centered
{
    text-align:center;
}
.centered-lowered
{
	text-align:center;
	padding-top: 30px;
}
