.jumbotron
{
	background-image: url('../jumbotron-background.jpg');	
	-webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
	width: 100% 100%;
	padding-bottom: 0px;
	height: 700px;
}

.text-center
{
	color: white;
}
.name{
	padding-top: 60px;
}